@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Volkhov-Bold";
    src: url("../fonts/Volkhov/Volkhov-Bold.ttf");
}